<% include('header') %>
    <div class="" id='login'>
        <div>
            <h3>Welocme to express dashboard</h3>
            <h5><%= locals.user ? user :"User" %></h5>
            <a href="/route/logout">Logout</a>
        </div>
    </div>

<% include('footer') %>